* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

body {
	background-color: black;
}

h1, h2 {
	text-align: center;
	color: white;
}

#selectionWrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 200px;
}

.solarsystempart {
	display: flex;
	flex-direction: column;
	color: white;
}

.solarsystempart img {
	width: 200px;
}

.solarsystempart span {
	text-align: center;
	font-style: italic;
	font-size: 1.5em;
}

.solarsystempart button {
	align-self: center;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	font-size: 1.5em;
	background-color: white;
	color: rgb(49, 49, 49);
	transition: background-color 0.5s 0.1s, color 0.5s 0.1s;
}

.solarsystempart button:hover {
	background-color: rgb(49, 49, 49);;
	color: white;
}