body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    background: #2c3e50;
    color: white;
}

#studentForm {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 300px;
    padding: 40px;
    text-align: center;
}

#studentForm input::placeholder {
    color: white;
}

#studentForm input[type = "text"], #studentForm input[type = "number"] {
    display: block;
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #21638f;
    border-radius: 24px;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;
}

#studentForm input[type = "text"]:focus, #studentForm input[type = "number"]:focus {
    width: 250px;
    border-color: #3498db;
}

#studentForm input[type = "button"] {
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 12px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

#studentForm input[type = "button"]:hover {
    background: #3498db;
}

#responseContainer {
    margin-top: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.studentContainer {
    background-color: #3498db;
    width: 100px;
    height: 140px;
    text-align: center;
    border: 2px solid #21638f;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.studentDeleteButton {
    background: #21638f;
    border: 2px solid #21638f;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    transition: 0.25s;
}

.studentDeleteButton:hover {
    background: #2c3e50;
    cursor: pointer;
}